@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Recursive:wght@300..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --primary-color: #232830;
  --title-color: #FF7575;
  --white-color: #FFFFFF;
  --gray-color: #909090;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

section.navbar-section {
  margin: 3em auto;
}
section.navbar-section .container {
  display: flex;
  justify-content: space-between;
}
section.navbar-section .container a.logo {
  color: var(--white-color);
  font-size: 1.6em;
  height: auto;
  font-weight: 400;
}
section.navbar-section .container nav.navigation {
  place-content: end;
}
section.navbar-section .container nav.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
section.navbar-section .container nav.navigation ul li {
  margin-left: 2em;
}
section.navbar-section .container nav.navigation ul li a {
  color: var(--white-color);
  font-size: 1.1em;
}

section.hero-section {
  margin: 3em auto;
}
section.hero-section .container {
  text-align: center;
  margin-top: 5em;
}
section.hero-section .container h1 {
  font-family: "Recursive";
  color: var(--title-color);
  font-weight: 400;
  font-size: 4.6em;
  margin: 0.5em auto 0.2em auto;
  font-style: italic;
}
section.hero-section .container p {
  color: var(--white-color);
  font-size: 1.8em;
  margin: 0.2em auto 1em auto;
}

section.categories-section {
  margin: 6em auto 4em auto;
  border-top: 3px solid #4D4D4D;
}
section.categories-section .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.categories-section .categories .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.categories-section .categories .icon-wrapper img:nth-child(1) {
  margin-right: 0.8em;
}
section.categories-section .categories a {
  color: var(--gray-color);
  font-family: "Recursive";
  font-style: italic;
  font-weight: 400;
  font-size: 27px;
  height: -moz-fit-content;
  height: fit-content;
}

section.articles-section {
  margin: 6.5em auto;
}
section.articles-section .container {
  display: grid;
  grid-template-columns: auto auto auto;
}
section.articles-section .container .article {
  background: var(--white-color);
  display: block;
  margin: 1em;
  padding: 1.1em;
  border-radius: 1.4em;
}
section.articles-section .container .article img {
  width: 100%;
  height: 12em;
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.articles-section .container .article h2 {
  font-size: 1.2em;
  text-transform: capitalize;
}
section.articles-section .container .article .date-category {
  font-family: "Poppins";
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
section.articles-section .container .article .date-category img {
  height: 0.2em;
  width: 0.2em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.pagination-section {
  margin: 3em auto;
}
section.pagination-section .page {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1em 15em;
  align-items: center;
}
section.pagination-section .page .text {
  transition: 0.3s ease-in;
}
section.pagination-section .page .text:hover {
  color: var(--title-color);
}
section.pagination-section .page .text::before {
  content: "";
  display: block;
  padding-bottom: 0.3em;
  border-top: 3px solid var(--title-color);
  transform: scaleX(0);
  transition: 0.3s ease-out;
}
section.pagination-section .page .text:hover::before {
  transform: scaleX(0.8);
}
section.pagination-section .page a {
  color: var(--gray-color);
  font-family: "Recursive";
  font-size: 2em;
  text-align: center;
  font-style: italic;
}
section.pagination-section .page ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Recursive";
}
section.pagination-section .page ul li {
  margin: 0 0.5em 0 0.5em;
  text-align: center;
}
section.pagination-section .page ul li a {
  transition: 0.2s ease-in-out;
}
section.pagination-section .page ul li a:hover {
  color: var(--title-color);
}
section.pagination-section .page ul li a::before {
  content: "";
  display: block;
  padding-bottom: 0.3em;
  border-top: 3px solid var(--title-color);
  transform: scaleX(0);
  transition: 0.3s ease-out;
}
section.pagination-section .page ul li a:hover::before {
  transform: scaleX(3.2);
}

footer.footer {
  margin: 10em auto 6em auto;
  padding-top: 3em;
  border-top: 3px solid #4D4D4D;
  height: -moz-fit-content;
  height: fit-content;
}
footer.footer .wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.footer .wrapper-footer .left-col {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  height: -moz-fit-content;
  height: fit-content;
}
footer.footer .wrapper-footer .left-col p {
  margin: 0;
  font-family: "Source Sans 3";
  font-size: 1.5em;
  margin-right: 0.5em;
}
footer.footer .wrapper-footer .left-col a {
  background: #4699E0;
  color: var(--white-color);
  padding: 0.2em 0.7em;
  font-size: 1.1em;
  border-radius: 0.3em;
}
footer.footer .wrapper-footer .right-col {
  padding: 0.2em 0.7em;
  background: #4699E0;
  border-radius: 0.3em;
  display: flex;
  color: var(--white-color);
}
footer.footer .wrapper-footer .right-col p {
  margin: 0;
  font-size: 1.1em;
  font-family: "Source Sans 3";
}/*# sourceMappingURL=style.css.map */