// Setup

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Recursive:wght@300..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #232830;
    --title-color: #FF7575;
    --white-color: #FFFFFF;
    --gray-color: #909090;
}

body {
    background: var(--primary-color);
    margin: 0;
    font-family: 'Poppins';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    width: 1150px;
    margin: 0 auto;
}


// Navbar
section.navbar-section {
    margin: 3em auto;

    .container {
        display: flex;
        justify-content: space-between;

        a.logo {
            color: var(--white-color);
            font-size: 1.6em;
            height: auto;
            font-weight: 400;
        }
        nav.navigation {
            place-content: end;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin: 0;
    
                li {
                    margin-left: 2em;

                    a {
                        color: var(--white-color);
                        font-size: 1.1em;                        
                    }
                }
            }
        }
    }
}

// Hero Section
section.hero-section {
    margin: 3em auto;

    .container {
        text-align: center;
        margin-top: 5em;

        h1 {
            font-family: 'Recursive';
            color: var(--title-color);
            font-weight: 400;
            font-size: 4.6em;
            margin: 0.5em auto 0.2em auto;
            font-style: italic;
        }

        p {
            color: var(--white-color);
            font-size: 1.8em;
            margin: 0.2em auto 1em auto;
        }
    }
}

// Categories Section
section.categories-section {
    margin: 6em auto 4em auto;
    padding-top: 1em;
    border-top: 3px solid #4D4D4D;

    .categories {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                cursor: pointer;

                &:nth-child(1) {
                    margin-right: 0.8em;
                }
            }
        }

        a {
            color: var(--gray-color);
            font-family: 'Recursive';
            font-style: italic;
            font-weight: 400;
            font-size: 27px;
            height: fit-content;
        }
    }
}

// Article Section
section.articles-section {
    margin: 6.5em auto;

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        // grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

        .article {
            background: var(--white-color);
            display: block;
            margin: 1em;
            padding: 1.1em;
            border-radius: 1.4em;
            
            img {
                width: 100%;
                height: 12em;
                border-radius: 1em;
                // background-size: contain;
                object-fit: cover;
                object-position: center;
            }

            h2 {
                font-size: 1.2em;
                text-transform: capitalize;
            }

            .date-category {
                font-family: 'Poppins';
                font-size: 0.85em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 55%;

                img {
                    height: 0.2em;
                    width: 0.2em;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

// Pagination Section
section.pagination-section {
    margin: 3em auto;

    .page {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 1em 15em;
        align-items: center;

        .text {
            transition: 0.3s ease-in;
            &:hover {
                color: var(--title-color);
                font-weight: bold;
            }

            &::before {
                content: '';
                display: block;
                padding-bottom: 0.3em;
                border-top: 3px solid var(--title-color);
                transform: scaleX(0);
                transition: 0.3s ease-out;
            }

            &:hover::before {
                transform: scaleX(0.8);
            }
        }

        a {
            color: var(--gray-color);
            font-family: 'Recursive';
            font-size: 2em;
            text-align: center;
            font-style: italic;
        }
        
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            font-family: 'Recursive';
            
            li {
                margin : 0 0.5em 0 0.5em;
                text-align: center;

                a {
                    transition: 0.2s ease-in-out;
                    &:hover {
                        color: var(--title-color);
                        font-weight: bold;
                    }
    
                    &::before {
                        content: '';
                        display: block;
                        padding-bottom: 0.3em;
                        border-top: 3px solid var(--title-color);
                        transform: scaleX(0);
                        transition: 0.3s ease-out;
                    }
    
                    &:hover::before {
                        transform: scaleX(3.2);
                    }   
                }
            }
        }
    }
}

// Footer
footer.footer {
    margin: 10em auto 6em auto;
    padding-top: 3em;
    border-top: 3px solid #4D4D4D;
    height: fit-content;

    .wrapper-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-col {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-color);
            height: fit-content;

            p {
                margin: 0;
                font-family: "Source Sans 3";
                font-size: 1.5em;
                margin-right: 0.5em;
                
            }

            a {
                background: #4699E0;
                color: var(--white-color);
                padding: 0.2em 0.7em;
                font-size: 1.1em;
                border-radius: 0.3em;
            }
        }

        .right-col {
            padding: 0.2em 0.7em;
            background: #4699E0;
            border-radius: 0.3em;
            display: flex;
            color: var(--white-color);

            p {
                margin: 0;
                font-size: 1.1em;
                font-family: "Source Sans 3";
            }
        }
    }
}

